:root {
  --main-background-color: rgba(13, 243, 232, 0.164);
  --main-border-color:#c5c7c4 ;
}

html {
  display: inline-flex;
  justify-content: space-around;
  margin: 0 auto;
  
  font-family: "Arial", sans-serif;
  line-height: 1.5rem;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: fit-content(360px) fit-content(390px);
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  
  border: 0.2rem solid var(--main-border-color);
}

header {
  grid-area: header;

  background-color: var(--main-background-color);
  border: 0.2rem solid var(--main-border-color);
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}

.menu-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex: 2 2 100%;

  max-width: 100%;
}

.menu-img {display: none;}

.menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  width: 100%;
}

.menu-item {
  margin: 0 0 0 15px;
  list-style: none;
}

.menu-link {text-decoration: none;}

.header__sub-wrapper {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;

  box-sizing: border-box;
  
}

.header__profile-wraper {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: 100%;

  padding-left: 1rem;
}

.header__sub-wrapper >
h3,
h2,
h1 { 
  text-align: center;
}

aside {
  grid-area: aside;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  min-width: 360px;

  padding-right: 0.5rem;
}

#contacts {
  margin-left: 0.8rem;
  text-align: left;
}

.contacts-wraper {margin-left: 0.2rem;}

main {
  grid-area: main;

  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
  padding-right: 0.5rem;
  padding-left: 1rem;
}

p {text-indent: 1rem;}
h3 {text-align: center;}
article {padding-right: 0.5rem;}

footer {
  grid-area: footer;

  display: inline-flex;
  align-items: center;
  
  background-color: var(--main-background-color);
  border: 0.2rem solid var(--main-border-color);
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}

figure {
  flex-direction: column;
  margin: auto;
}

details {padding: 0.5rem;}
