html {
  display: inline-flex;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  
  font-family: "Arial", sans-serif;
  line-height: 1.5rem;
}

:root {
  --main-background-color: rgba(13, 243, 232, 0.164);
  --main-border-color:#c5c7c4 ;
}

body {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: fit-content(360px) fit-content(390px);
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  
  border: 0.2rem solid var(--main-border-color);
}

header {
  grid-area: header;

  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  margin: 0;

  background-color: var(--main-background-color);
  border: 0.2rem solid var(--main-border-color);
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}

header > img {border-radius: 0% 25%;}

.header-wraper {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.contacts-wraper > h3 { 
  margin-left: 1.2rem;

  text-align: left;
}

aside {
  grid-area: aside;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  min-width: 360px;

  padding-right: 0.5rem;
}

main {
  grid-area: main;

  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
  padding-right: 0.5rem;
  padding-left: 1rem;
}

p {text-indent: 1rem;}
h3 {text-align: center;}
article {padding-right: 0.5rem;}

footer {
  grid-area: footer;

  display: inline-flex;
  align-items: center;
  
  background-color: var(--main-background-color);
  border: 0.2rem solid var(--main-border-color);
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}

figure {
  flex-direction: column;
  margin: auto;
}

details {padding: 0.5rem;}
